@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F6F1EC;
  --cpurple: #7568DE;
  --cred: #FE6845;
  --cblue: #468AFB;
  --corange: #FFA046;
  --cgreen: #9ECB45;
}

* {
  cursor: url('/images/cursor.svg'), auto;
}

.background {
  background-color: var(--bg-color);
}

.h-font {
  font-family: "IBM Plex Serif", serif;
}

.p-font {
  font-family: "Source Sans 3", sans-serif;
}

.greenGradient {
  background: var(--cgreen);
  box-shadow: inset -5px 0px 10px rgba(254, 104, 69, 0.75);
}
.redGradient {
  background: var(--cred);
  box-shadow: inset -5px 0px 10px rgba(158, 203, 69, 0.75);
}

.highlight {
  background-color: var(--corange);
}